progress {
    color: #54ff00;
    border: none;
    background: #a5a5a5;
  }
  progress::-webkit-progress-bar { background: #a5a5a5; }
  progress::-webkit-progress-value { background: #54ff00; }
  progress::-moz-progress-bar { background: #54ff00; }

.projectArea {
    max-width: 1000px;
}

.project {
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
}

.alphaLayer {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

.redText {
    color: red;
}

.whiteText {
    color: #FFFFFF;
}

.whiteText a {
    color: #FFFFFF;
}

ul,li.whiteText {
    list-style-type: disc;
    color: #FFFFFF;
}
ul.whiteText {
    margin-left: 20px;
}

ul,li.redText {
    list-style-type: square;
    color: red;
}
ul.redText {
    margin-left: 20px;
}

.botDebacleProject {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("../images/work/botdebacleasset.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    transition: 500ms ease;
}
    .botDebacleProject:hover {
        background-size: 250px;
        cursor: pointer;
    }

.tronProject {
    width: 100%;
    height: 100%;
    background-image: url("../images/work/tron1.png");
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
    transition: 500ms ease;
}
    .tronProject:hover {
        background-size: 800px;
        cursor: pointer;
    }

.gostProject {
    width: 100%;
    height: 100%;
    background-image: url("../images/work/gost1.png");
    background-position: center bottom;
    background-size: 700px;
    background-repeat: no-repeat;
    transition: 500ms ease;
}
    .gostProject:hover {
        background-size: 800px;
        cursor: pointer;
    }

.stationDefenderProject {
    width: 100%;
    height: 100%;
    background-image: url("../images/work/sd1.png");
    background-position: center;
    background-size: 900px;
    background-repeat: no-repeat;
    transition: 500ms ease;
}
    .stationDefenderProject:hover {
        background-size: 1000px;
        cursor: pointer;
    }

.noMargin {
    margin: 0;
}

.rowMargin {
    margin-bottom: 15px;
}
.rowMarginSmall {
    margin-bottom: 8.5px;
}
.rowMarginTiny {
    margin-bottom: 4px;
}

.marginForty {
    margin-bottom: 40px;
}

.topRight {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 5;
}

.modalBackground {
    background-color: black;
}

.whiteCloseButton {
    color: white;
}
    .whiteCloseButton:hover {
        color: #FEFEFE;
    }